* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Verdana', Geneva, Tahoma, sans-serif;
}

body {
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    color: #333;
}

.header {
    text-align: center;
    font-size: 64px;
    margin-bottom: 40px;
    color: #333;
}

.doctor-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.doctor-card {
    background-color: white;
    border-radius: 12px;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 300px;
    text-align: center;
}

.profile-pic {
    width: 100px;
    height: 105px;
    border-radius: 50%;
    margin-bottom: 15px;
    object-fit: cover;
}

.doctor-name {
    font-size: 24px;
    color: blueviolet;
    margin-bottom: 10px;
}

.doctor-name a {
    text-decoration: none;
    color: blueviolet;
    transition: color 0.3s;
}

.doctor-name a:hover {
    color: darkviolet;
}

.specialty, .contact, .location, .hours {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.contact {
    color: #666;
}

.location, .hours {
    font-style: italic;
}
