* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Verdana', Geneva, Tahoma, sans-serif;
}

body {
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    color: #333;
}

.header {
    text-align: center;
    font-size: 64px;
    margin-bottom: 40px;
    color: #333;
}

.faq-container {
    width: 80%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.faq-item {
    background-color: white;
    border-radius: 12px;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.faq-question {
    font-size: 24px;
    color: blueviolet;
    margin-bottom: 10px;
    cursor: pointer;
    transition: color 0.3s;
}

.faq-question:hover {
    color: darkviolet;
}

.faq-answer {
    font-size: 18px;
    color: #333;
    margin-top: 10px;
    display: none; /* Initially hidden */
    line-height: 1.6;
}
