* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Verdana', Geneva, Tahoma, sans-serif;
}
@font-face {
    font-family: 'ModerneSans'; 
    src: url('./Moderne.ttf'); 
}

@font-face{
    font-family: 'rubik';
    src: url('./Rubik.ttf');
}

body {
    background-color: #DDD0C8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    color: #333;
}


.header {
    text-align: center;
    font-size: 64px;
    margin-bottom: 40px;
    color: #333;
    font-family: 'ModerneSans';
    text-decoration: underline;
    text-decoration-color: #333;
}

.faq-container {
    width: 80%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.faq-item {
    background-color: lightgrey;
    filter: brightness(104%);
    border-radius: 12px;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border: 1px solid #333;
}
.faq-item:hover{
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.8)
}

.faq-question {
    font-size: 24px;
    font-family: 'rubik';
    color: #4F7942;
    margin-bottom: 10px;
    cursor: pointer;
    transition: color 0.3s;
}

.faq-question:hover {
    color: rgb(82, 17, 139);
}

.faq-answer {
    font-size: 21px;
    color: #333;
    margin-top: 10px;
    display: none; /* Initially hidden */
    line-height: 1.6;
}
